<div class="col-sm-12">
    <div class="row">
        <h2 class="title">PM2 processes</h2>
        <div class="col-sm-3" ng-repeat="(name,p) in processes">
            <h6 class="header">{{p.pm2_env.name}}</h6>
            <span class="chart" easypiechart percent="p.memprecent"
                  options="opt[2]">
                <span class="percent" ng-bind="p.memprecent"></span>
            </span>
            <div>
                <ul class="progressitem">
                    <li><b>hostname</b>{{p.hostname}}</li>
                    <li><b>last start</b>{{p.pm2_env.pm_uptime|date:'dd/MM/yyyy @ HH:mm'}}</li>
                    <li><b>pid</b>{{p.pid}}</li>
                    <li><b>id</b>{{p.pm2_env.pm_id}}</li>
                    <li><b>status</b><span class="{{p.pm2_env.status|online}}">{{p.pm2_env.status}}</span></li>
                    <li><b>restart</b>{{p.pm2_env.restart_time}}</li>
                    <li><b>mode</b>{{p.pm2_env.exec_mode}}</li>
                    <li><b>memory</b>{{p.monit.memory|size}}</li>
                    <li><b>cpu</b>{{p.monit.cpu}}</li>
                    <li><b>exec path</b><a class="label label-default" title="{{p.pm2_env.pm_exec_path}}">show</a></li>
                    <li><button type="button" ng-click="stopstart(p.pm2_env.status, p.pm2_env.pm_id)" class="btn btn-primary">{{p.pm2_env.status|startstopLabel}}</button></li>
                </ul>
            </div>
        </div>
    </div>

	<div class="row">
		<h2 class="title">Servers</h2>
    </div>
		
	<div ng-repeat="server in pm2Servers" >
		<div class="row">
	        <h3 class="title" id="{{server.system_info.ip}}">Hostname : {{server.system_info.hostname}}</h3>
	        <div class="col-sm-4">
	            <h5 class="header">Uptime  <a class="content">{{server.system_info.uptime}}</a></h5>
	            <h5 class="header">Total memory <a class="content">{{server.monit.total_mem|size}}</a></h5>
	        </div>
	        <div class="col-sm-4">
	            <h6 class="header">Free Memory {{server.monit.free_mem|size}}</h6>
	            <span class="chart" easypiechart percent="server.Mempercent"
	                  options="opt[0]">
	                <span class="percent" ng-bind="server.Mempercent"></span>
	            </span>
	        </div>
	        <div class="col-sm-4">
	            <h6 class="header">PM2 memory {{server.appMem|size}}</h6>
	            <span class="chart" easypiechart percent="server.appMempercent"
	                  options="opt[1]">
	                <span class="percent" ng-bind="server.appMempercent"></span>
	            </span>
	        </div>
        </div>
	     
	    <div class="row tablebox">
	        <h3 class="title">CPU</h3>
	        <table class="table">
	            <tr>
	                <th>CPU N°</th>
	                <th>Model</th>
	                <th>Current speed</th>
	                <th>Times</th>
	            </tr>
	            <tr ng-repeat="cpu in server.monit.cpu">
	                <td>{{$index + 1}}</td>
	                <td>{{cpu.model}}</td>
	                <td>{{cpu.speed|number}}</td>
	                <td>
	                    <p>user: {{cpu.times.user|number}}</p>
	                    <p>nice : {{cpu.times.nice|number}}</p>
	                    <p>sys: {{cpu.times.sys|number}}</p>
	                    <p>idle: {{cpu.times.idle|number}}</p>
	                    <p>irq: {{cpu.times.irq|number}}</p>
	                </td>
	            </tr>
	        </table>
	    </div>
	    <div class="row tablebox">
	        <h3 class="title">Network</h3>
	        <table class="table">
	            <tr>
	                <th>Name</th>
	                <th>ip</th>
	                <th>family</th>
	                <th>internal</th>
	
	            </tr>
	            <tr ng-repeat="(name,interface) in server.monit.interfaces">
	                <td>{{name}}</td>
	                <td>{{interface[0].address}}</td>
	                <td>{{interface[0].family}}</td>
	                <td>{{interface[0].internal}}</td>
	            </tr>
	        </table>
	    </div>
	</div>        
</div>
